<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue axios</title>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
<div id="app">
  <div>
    <input v-model="userId" placeholder="edit me">
    <button type="button1" @click="getuser"> submit </button>
    <button type="button2" @click="deluser"> deluser </button>
    <p>getuser : {{ quser }}</p>
    
  </div>
  <div class="red">{{ info.data }}</div>
  <div>
    <input v-model="name" placeholder="input userName">
    <input type="tel" max="999" v-model="age" placeholder="input userAge">
    <input type="number" @keydown="handleInput2" v-model="salary" placeholder="input userSalary">
    <input v-model="mobile" placeholder="input usermobile">

    <!-- <p> {{ user }} id is: {{info.data}} </p> -->
    <button type="button" @click="submit"> submit </button>
  </div>
  
</div>

<script type = "text/javascript">
new Vue({
  el: '#app',
  data: {
    userId: 0,
    user: 'user',
    info: 'user',
    quser: '',
    userName: '',
    name:'',
    age: 12,
    salary: 111,
    mobile: '',
  },
  methods: {
    handleInput2(e) {
            // 通过正则过滤小数点后两位
            e.target.value = (e.target.value.match(/^\d*(\.?\d{0,1})/g)[0]) || null
    
        },
    getuser: function () {
      axios
      .get('http://localhost:1323/users/'+this.userId)
      .then(response => (this.quser = response.data))
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });
    },
    deluser: function () {
      axios
      .delete('http://localhost:1323/users/'+this.userId)
      .then(response => (this.info = response))
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });
      console.log('http://localhost:1323/users/'+this.userId);
    },
    submit: function () {
      console.log(this.user);
      var postObj = {
          name: this.name,
          age: this.age-0,
          salary: this.salary-0,
          mobile: this.mobile,
      };
      axios
      .post('http://localhost:1323/users',postObj)
      .then(response => (this.info = response))
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });
      console.log(postObj);
    }
  },
  // proxyTable: {
  //   '/try': {
  //       target: 'https://www.runoob.com',
  //       pathRewrite: {
  //           '^/try': ''
  //       },
  //       chengeOrigin: true,
  //   },
  // },
  mounted () {
    axios
      .get('http://localhost:1323/users/1')
      .then(response => (this.info = response))
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });
  }
})
</script>
<style>
  .red{color: red;}
</style>
</body>
</html>